---

---

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bruh</title>
</head>
<body>

	<!--la imagen de fondo que solo se ve al inicio -->
	<div class="head">

	</div>

	<!--empieza la separacion de elementos -->
	<div>

		<h1>
			Nuestra Colección de Ron
		</h1>
		<!-- primer conjunto de 3 botellas -->
		<div class="container">
			<div class="bottle">
				<img class="bottle0" src="https://drinks-web-next.vercel.app/_next/image?url=http%3A%2F%2Fres.cloudinary.com%2Fdfmogw4hl%2Fimage%2Fupload%2Fv1679754754%2Fron%2Fron-barrica-40-bottle_jzfgjp.jpg&w=640&q=75" alt="Descripción de la imagen">
				<div class="continer">
					<span class="text0">Barrica 40</span>
					<span class="text1">0.70 Lt</span>
					<span class="text0">12.5$</span>		
					<span class="text" tabindex="0">
						Ver Producto
					</span>	
				</div>		
			</div>
			<div class="bottle">
				<img class="bottle0" src="https://drinks-web-next.vercel.app/_next/image?url=http%3A%2F%2Fres.cloudinary.com%2Fdfmogw4hl%2Fimage%2Fupload%2Fv1679754754%2Fron%2Fron-cacique-500-bottle_kclyax.jpg&w=640&q=75" alt="Descripción de la imagen">
				<div class="continer">
					<span class="text0">Cacique 500</span>
					<span class="text1">0.70 Lt</span>
					<span class="text0">22$</span>		
					<span class="text" tabindex="0">
						Ver Producto
					</span>	
				</div>			
			</div>
			<div class="bottle">
				<img class="bottle0" src="https://drinks-web-next.vercel.app/_next/image?url=http%3A%2F%2Fres.cloudinary.com%2Fdfmogw4hl%2Fimage%2Fupload%2Fv1679754757%2Fron%2Fron-santa-teresa-linaje_nhwvmc.jpg&w=640&q=75" alt="Descripción de la imagen">
				<div class="continer">
					<span class="text0">Linaje Santa <br> Teresa</span>
					<span class="text1">0.70 Lt</span>
					<span class="text0">15$</span>		
					<span class="text" tabindex="0">
						Ver Producto
					</span>	
				</div>		
			</div>
		</div>

		<!-- en este span se dividen la cuadrilla de botellas-->

		<span class="rum" tabindex="0">
			Ver toda la colección de ron disponible
		</span>

		<!--Aqui continua la cuadrilla de botellas -->

		<h1>
			Nuestra Colección de Whiskey
		</h1>

		<!--segundo conjunto de 3 botellas -->
		<div class="container">
			<div class="bottle">
				<img class="bottle0" src="https://drinks-web-next.vercel.app/_next/image?url=http%3A%2F%2Fres.cloudinary.com%2Fdfmogw4hl%2Fimage%2Fupload%2Fv1681054291%2Fwhiskey%2Fjw-black-label-escocia-1litter_twdj0u.jpg&w=640&q=75" alt="Descripción de la imagen">
				<div class="continer">
					<span class="text0">JW Black <br>Label Lt</span>
					<span class="text1">0.70 Lt</span>
					<span class="text0">12.5$</span>		
					<span class="text" tabindex="0">
						Ver Producto
					</span>	
				</div>			
			</div>
			<div class="bottle">
				<img class="bottle0" src="https://drinks-web-next.vercel.app/_next/image?url=http%3A%2F%2Fres.cloudinary.com%2Fdfmogw4hl%2Fimage%2Fupload%2Fv1681054301%2Fwhiskey%2Fjw-gold-label-reserve-escocia-075_ffxr4b.png&w=640&q=75" alt="Descripción de la imagen">
				<div class="continer">
					<span class="text0">JW Gold <br>Label Reserve</span>
					<span class="text1">0.70 Lt</span>
					<span class="text0">12.5$</span>		
					<span class="text" tabindex="0">
						Ver Producto
					</span>	
				</div>				</div>
			<div class="bottle">
				<img class="bottle0" src="https://drinks-web-next.vercel.app/_next/image?url=http%3A%2F%2Fres.cloudinary.com%2Fdfmogw4hl%2Fimage%2Fupload%2Fv1681054295%2Fwhiskey%2Fold-parr-12years-escocia-075_mbeown.jpg&w=640&q=75" alt="Descripción de la imagen">
				<div class="continer">
					<span class="text0">Old Parr <br>12 Años</span>
					<span class="text1">0.70 Lt</span>
					<span class="text0">12.5$</span>		
					<span class="text" tabindex="0">
						Ver Producto
					</span>	
				</div>				
			</div>
		</div>
		
		<!--aqui termina el segundo conjunto de 3 botellas -->

		<span class="rum" tabindex="0">
			Ver toda la colección de ron disponible
		</span>

		<!--aqui debe empezar el footer -->
	</div>
	<div class="footer">
		<p>Inicio</p>
		<p>Ron</p>
		<p>Whiskey</p>
		<p>Nosotros</p>
		<p class="rights">Todos los derechos reservados 2024</p>		
	</div>


<style>
	body{
		margin: 0;
	}
	.head{
		background-image: url("https://c1.wallpaperflare.com/preview/241/95/713/alcoholic-beverage-drink-glass.jpg");
		background-repeat: no-repeat;
    	background-size: cover;
		background-attachment: fixed;
		margin: 0;
		width: auto;
		height: 10rem;
	}
	.footer{
		width: 100%;
		height: 200px;
		background-color: black;
		background-size: cover;
		margin: 0;
		display: flex;
	}
	.footer p{
		color: aliceblue;
		margin-top: 90px;
		margin-left: 5%;
	}
	h1{
		color: rgb(236, 150, 0);
		display: flex;
		text-align: center;
		justify-content: center;
		margin-top: 5%;
		margin-bottom: 2%;
		font-size: 2.5rem;
		font-weight: bold;
	}
	.rum{
		background-color: rgb(49, 49, 49);
		color: aliceblue;
		width: 80%;
		display: flex;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 5%;
		justify-content: center;
		font-size: 1.5rem;
		border-radius: 8px;
		cursor: pointer;
	}
	.rum:hover{
		background-color: rgb(205, 92, 0);
	}
	.rum:focus{
		background-color: rgb(255, 77, 0);
	}

	.container{
		display: flex;
		flex-wrap: wrap;
		margin-left: 8%;
		margin-right: 5%;
		margin-bottom: 5%;
		margin-top: 5%;
	}
	.bottle{
		display: flex;
	}
	.continer{
		margin-top: 12%;
		margin-left: 2%;
		display: flex;
		flex-direction: column;
		height: 5%;
	}
	.text{
		text-align: center;
		padding: 0.8rem;
		margin-bottom: 20%;
		margin-top: 5%;
		background-color: rgb(49, 49, 49);
		color: aliceblue;
		justify-content: center;
		font-size: 1.2rem;
		border-radius: 8px;

	}
	.text:hover{
		background-color: rgb(205, 92, 0);
	}
	.text:focus{
		background-color: rgb(255, 77, 0);
	}
	.text0{
		text-align: center;
		padding: 1rem;
		margin-top: 0.1rem;
		margin-bottom: 0.1rem;
		color: rgb(255, 174, 0);
		justify-content: center;
		font-size: 2rem;
		font-weight: bold;

	}
	.text1{
		text-align: center;
		margin-top: 0.1rem;
		margin-bottom: 0.1rem;
		color: rgb(51, 51, 51);
		justify-content: center;
		font-size: 1.5rem;
		font-weight: bold;
	}
	.bottle0{
		background-color: transparent;
		width: 200px;
		height: 200px;
		margin: 20% auto;
		align-content: space-between;
		text-align: center;
	}
</style>
</body>
</html>