---

---

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bruh</title>
</head>
<body>
	<div class="head">

	</div>
	<div class="rest">
		<div class="container">
			<div class="bottle">
				<div class="bottle0">
		
				</div>
				<span class="text">lorem ipsum</span>
		
		
			</div>
			<div class="bottle">
				<div class="bottle0">
		
				</div>
				<span class="text">lorem ipsum</span>
			</div>
			<div class="bottle">
				<div class="bottle0">
		
				</div>
				<span class="text">lorem ipsum</span>
		
			</div>
			<div class="bottle">
				<div class="bottle0">
		
				</div>
				<span class="text">lorem ipsum</span>
		
			</div>
			<div class="bottle">
				<div class="bottle0">
		
				</div>
				<span class="text">lorem ipsum</span>
		
			</div>
		</div>
	</div>


<style>
	body{
		margin: 0;
	}
	.head{
		background-image: url("https://c1.wallpaperflare.com/preview/241/95/713/alcoholic-beverage-drink-glass.jpg");
		background-repeat: no-repeat;
    	background-size: cover;
		background-attachment: fixed;
		margin: 0;
		width: auto;
		height: 10rem;
	}
	.container{
		display: flex;
		flex-wrap: wrap;
		margin-left: 15%;
		margin-right: 15%;
		margin-bottom: 15%;
		margin-top: 5%;
	}
	.bottle{
		display: flex;
	}
	.text{
		text-align: center;
		padding: 1rem;
		margin-top: 20%;
	}
	.bottle0{
		background-color: aqua;
		width: 100px;
		height: 100px;
		margin: 20% auto;
		align-content: space-between;
		text-align: center;
	}
</style>
</body>
</html>